<!-- Footer -->
<footer class="bg-black text-white py-4" id="contactForm">
    <div class="container text-center">
        <p class="mb-0">&copy; 2025 NexAur Technologies. Todos los derechos reservados.</p>
        <div class="social-links mt-3">
            <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>